<section>
	<h1>Subscribe</h1>

	<div id="thumbs">
	   <div class="smallsection">
			<a href="http://feeds.feedburner.com/andresmarrugo"><img class=noborder align="left" src="{{ root_url }}/images/rss_style.png" alt="RSS Feed" title="RSS (English feed)"></a>
	   </div> 
		<div class="smallsection">
			<a href="http://feedburner.google.com/fb/a/mailverify?uri=andresmarrugo&amp;loc=en_US"><img class=noborder align="left" src="{{ root_url }}/images/mail.png" alt="email" title="Email (English feed)"> </a>
		</div>
		<div class="smallsection">
			<a href="http://feeds.feedburner.com/agmarrugo_en_es"><img class=noborder align="left" src="{{ root_url }}/images/rss_style.png" alt="RSS Feed" title="RSS (English + Spanish feed)"></a>
		</div>
		<div class="smallsection">
			<a href="http://feedburner.google.com/fb/a/mailverify?uri=agmarrugo_en_es&amp;loc=en_US"><img class=noborder align="left" src="{{ root_url }}/images/mail.png" alt="email" title="Email (English + Spanish feed)"> </a> 
		</div>
	</div>​


</section>